autopep8
black
flake8
isort
jupyter
jupyter-lsp
JupyterLab
jupyterlab_code_formatter
jupyterlab-git
matplotlib
numpy
pandas
psycopg2-binary
pyarrow
pydocstyle
pylint
pytest
python-language-server[all]
rope
yapf
voila