# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Files
nbs/*
!nbs/template/
!nbs/utils/
.pytest_cache/
.env

# Logs
geckodriver.log

# Jupyter
.ipynb_checkpoints
.vscode

# Folders
notebooks/